.info {
    padding-top: 20px;
    background-color: white;
}
.sobreNos{
    font-size: 18px;
    height:30px;
    margin-bottom: 7px;
}
.infoTexto{
    /* font-size: 12px; */
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
}

